[production]
> 0.5% in AU
> 0.5% in JP
> 0.5% in KR
> 0.5% in US
last 2 Chrome versions
last 2 ChromeAndroid versions
last 2 Edge versions
last 2 Firefox versions
last 2 iOS versions
last 2 Safari versions
not Explorer <= 10
not ExplorerMobile <= 11

[development]
last 1 Chrome version
