//------------------------------
// Overpass fonts
//------------------------------

@font-face {
  font-family: "Overpass";
  src: url("../fonts/overpass-extralight.woff2") format("woff2"),
       url("../fonts/overpass-extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: url("../fonts/overpass-light.woff2") format("woff2"),
       url("../fonts/overpass-light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: url("../fonts/overpass-light-italic.woff2") format("woff2"),
       url("../fonts/overpass-light-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Overpass";
  src: url("../fonts/overpass-regular.woff2") format("woff2"),
       url("../fonts/overpass-regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: url("../fonts/overpass-bold.woff2") format("woff2"),
       url("../fonts/overpass-bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
