//------------------------------
// MM Global Variables
//------------------------------

// Colours
$white: #fff;
$black: #000;

//------------------------------
// Bootstrap Overrides
//------------------------------
// NOTE: Use this file instead of bootstrap4/_custom.scss

$gray:                    #55595c; // Same as default
$gray-dark:               #373a3c; // Same as default
$gray-light:              #cfd8dc;
$gray-lighter:            #eceff1;
$brand-primary:           #145cad; // MM royal blue

$enable-flex:             true;
$enable-rounded:          false;
$enable-print-styles:     false;

$body-bg:                 $gray-lighter;
$body-color:              #1d2029; // Dark grey with hint of blue

$link-color:              $body-color;

$blockquote-small-color:  $gray;

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  // xl: 1200px // Disable xl size
);

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  // xl: 1140px // Disable xl size
);

$font-family-sans-serif:  "Overpass", sans-serif;
$font-family-serif:       serif;
$font-family-monospace:   "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-size-root:          21px;

$headings-font-weight:    300;
$headings-line-height:    1.7;

$table-cell-padding:      .5rem .3rem;
$table-border-color:      $gray-light;
