//------------------------------
// MM Global Variables
//------------------------------

// NOTE: Put non-bootstrap variables here

//------------------------------
// Bootstrap Overrides
//------------------------------
// NOTE: Use this file instead of bootstrap4/_custom.scss

$gray:                    #55595c;
$gray-light:              #cfd8dc;
$gray-lighter:            #f8f8f8;
$brand-primary:           #145cad; // MM royal blue

$enable-rounded:          false;
$enable-transitions:      false;
$enable-print-styles:     false;

$body-bg:                 $gray-lighter;
$body-color:              #191919;

$blockquote-small-color:  $gray;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  // xl: 1200px // Disable xl size
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  // xl: 1140px // Disable xl size
);

$font-family-sans-serif:  "Overpass", sans-serif;
$font-family-serif:       serif;
$font-family-monospace:   monospace;

$font-size-root:          22px;

$headings-font-weight:    600;
$headings-line-height:    1.7;

$table-cell-padding:      .5rem .3rem;
$table-border-color:      $gray-light;

$nav-link-padding:        .6rem 1rem;
