//------------------------------
// Imports
//------------------------------

@import "fonts";
@import "variables";
@import "bootstrap4/bootstrap-flex";

//------------------------------
// Global Theme
//------------------------------

html {
  @include media-breakpoint-down(xs) {
    font-size: round($font-size-root / 1.12);
  }
}

body {
  font-weight: 300;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: $spacer;
  margin-bottom: $spacer * 2.2;
  align-items: baseline;
}

.brand {
  margin-right: $spacer;
  font-size: 30px;
  color: $gray-dark;

  @include media-breakpoint-down(xs) {
    width: 100%;
    padding: 0;
    margin: 0 0 .7rem;
    text-align: center;
  }
}

.about,
.push-right {
  // Push a flex item to the right
  margin-left: auto !important;
}


.nav-link {
  @include hover-focus {
    text-decoration: $link-hover-decoration;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: $spacer * 1.5;

  + blockquote {
    // Extra whitespace for quotes directly after headings
    margin-top: $spacer;
  }

  @include media-breakpoint-down(xs) {
    // Less whitespace on small screens
    line-height: 1.1;
  }
}

h1 {
  @include media-breakpoint-down(xs) {
    font-size: 2rem;
  }
}

h2 {
  margin-top: $spacer * 1.9;

  @include media-breakpoint-down(xs) {
    font-size: 1.85rem;
  }
}

li {
  // Add more space between list items
  margin-bottom: $spacer / 2;
}

// Larger clickable area
// README: Reduce size if you experience problems with overlapping links
// ↳ For debugging enable CSS Outlining at http://localhost:3001/remote-debug
a {
  position: relative; // TODO: Comment this line and do cross browser tests
  padding: .6em 1em;
  margin: -.6em -1em;
  word-wrap: break-word;
}

// TODO: Refine this selector for performance
// TODO: Design better link style that's compatibile with the larger click area
#dope :not(h1):not(h2):not(h3):not(.category-item) > a:not(.badge) {
  color: darken($brand-primary, 15%);
  text-decoration: underline;
  text-decoration-color: rgba($brand-primary, .3);

  &:hover {
    color: $brand-primary;
    text-decoration-color: $brand-primary;
  }

  &:visited {
    color: darken($brand-primary, 15%);
  }
}

blockquote {
  @extend .blockquote;
  border-left-color: $gray-light;

  > p:last-of-type {
    @extend .mb-0;
  }

  &.plain {
    padding: $spacer;
    border-left: 0;

    > footer {
      color: $white;
    }
  }

  > footer {
    @extend .blockquote-footer;
  }
}

table {
  @extend .table;
}

@include media-breakpoint-down(xs) {
  th,
  td {
    padding: $table-sm-cell-padding;
  }
}

// Show abbreviation in brackets on small screens (because there's no hover on mobile)
abbr[title] {
  text-decoration: none;
  border-bottom: 0;

  &::after {
    content: " (" attr(title) ")";
  }

  @include media-breakpoint-up(md) {
    border-bottom: 2px dotted $gray-light;

    &::after {
      content: "";
    }
  }
}

kbd {
  white-space: nowrap;
}

.footer {
  margin: 2rem 0 3rem;
  color: $gray-light;
  text-align: center;

  > a {
    color: inherit;
    text-decoration: none;
  }
}

@include media-breakpoint-down(xs) {
  .lead,
  blockquote {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(lg) {
  h1 {
    // More whitespace on large screens
    margin: .9rem 0 2.3rem;
  }
}

//------------------------------
// Category listing
//------------------------------

.category {
  > h1 {
    @include media-breakpoint-down(xs) {
      margin-top: 0;
    }
  }

  .pages {
    padding-left: 0;
    list-style: none;

    > li {
      margin-bottom: $spacer * 1.2;
    }
  }

  .tags {
    display: inline-block;
    margin-left: $spacer / 4;
  }

  time {
    color: $gray;
  }
}

.category-item {
  display: flex;
}

//------------------------------
// Blog posts
//------------------------------

.page,
.post {
  margin-right: auto;
  margin-left: auto;

  > h1 {
    text-align: center;

    @include media-breakpoint-down(xs) {
      margin-top: 0;
    }
  }
}

.picture {
  display: inline-block;
  margin-bottom: $spacer;

  img {
    @extend .img-fluid;
  }
}

figure {
  @extend .figure;
}

.figure-img {
  margin-bottom: $spacer / 2;
}

figcaption {
  @extend .figure-caption;
  color: $gray;
}

.meta {
  margin-top: $spacer * 1.3;
}

.author {
  white-space: pre-line;
}

.img-author {
  margin-bottom: $spacer / 2;
}

.badge {
  margin: 0;
}

.lead.bg-primary {
  padding: $spacer;
}

.footnote-ref {
  margin-left: .2rem;
}

//------------------------------
// Homepage
//------------------------------

.home-intro {
  text-align: center;
}

.subscribe {
  padding: ($spacer-y * 2) 0 ($spacer-y * 2.4);
  margin-top: $spacer * 3;
  margin-bottom: $spacer;
  text-align: center;
  background-color: $brand-primary;
}

.email {
  border-color: $btn-secondary-border;
}

.btn-email {
  // Don't load bold font on homepage to keep size down
  font-weight: 300;
}

.summaries {
  > h2 {
    border-bottom: 1px solid $gray-light;
  }

  > article > p:last-of-type::after {
    content: "…";
  }
}

.more {
  margin-top: $spacer;
}

.all-posts {
  padding-top: $spacer;
  margin-top: $spacer;
  border-top: 1px solid $gray-light;
}
