{{ partial "header.html" . }}

<!-- If changed, also update ../section/blog.html and ../404.html -->

<div id="dope" class="dope">

  <div class="container">
    <div class="row">
      <section class="category col-xs-12">
        <h1 class="category-h1">{{ .Title }}</h1>

        <ul class="pages">
          {{ range .Data.Pages }}
          <li class="category-item">
            <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
            <div class="category-tags">
            {{ range .Params.tags }}
              <a href="/tags/{{ . | urlize }}.html" class="badge badge-default">{{ . }}</a>
            {{ end }}
            </div>
            <time class="time push-right" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "Mon, 2 Jan 2006" }}</time>
          </li>
          {{ end }}
        </ul>
      </section>
    </div>
  </div> <!-- /.container -->

</div> <!-- /#dope -->

{{ partial "footer.html" . }}
