{{ partial "header.html" . }}

<!-- If changed, also update ../section/blog.html and ../404.html -->

<div id="dope" tabindex="-1">

  <div class="container">
    <div class="row">
      <section class="category col-xs-12">
        <h1>{{ .Title }}</h1>

        <ul class="pages">
          {{ range .Data.Pages }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a><time class="pull-xs-right">{{ .Date.Format "Mon, 2 Jan 2006" }}</time></li>
          {{ end }}
        </ul>
      </section>
    </div>
  </div> <!-- /.container -->

</div> <!-- /#dope -->

{{ partial "footer.html" . }}
