/* Underline from center */
// README: Based off CSS version, from https://github.com/IanLunn/Hover/blob/master/css/hover.css
//  ↳ Modified for SCSS - easier to start with CSS than their SCSS implementation
//  ↳ Modified to have a larger clickable area for links - UX goodness - original idea: http://goo.gl/WlNM4y
//      ↳ Be careful with 2 links next to each other - might overlap in a strange way

//underline-from-center
@mixin animate-links($duration: 0.3s) {
  display: inline-block;
  vertical-align: bottom; // ORIGINAL: middle
  -webkit-transform: translateZ(0); // Safari & Android =< 4.4.4
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden; // Safari & Android =< 4.4.4
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  margin: -.5em; // NEW
  padding: .5em; // NEW
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: .5em; // ORIGINAL: 0
    background: $link-color; // ORIGINAL: #2098d1
    height: 4px;

    // -webkit-transition-property: left, right; // Android =< 4.3
    // -webkit-transition-duration: $duration; // Android =< 4.3
    // -webkit-transition-timing-function: ease-out; // Android =< 4.3

    transition-property: left, right;
    transition-duration: $duration;
    transition-timing-function: ease-out;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    left: .5em; // ORIGINAL: 0
    right: .5em; // ORIGINAL: 0
    bottom: .5em; // NEW
  }
}
