{{ partial "header.html" . }}

<div id="dope" class="dope container">

  <div class="row">
    <div class="col">
      <h1>404: Page Not Found</h1>
      <p class="lead">Can't find the page you wanted &hellip; Woops.</p>
    </div>
  </div> <!-- /.row -->

  <hr/>

  <section class="container summaries">
    <h2>Instead, how about reading a post?</h2>

    <ul>
    {{ range where .Data.Pages "Section" "blog" | first 5 }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>
  </section>

</div> <!-- /#dope -->

{{ partial "footer.html" . }}
