{{ partial "header.html" . }}

<main id="dope" class="dope container">

  <h1>404: Page Not Found</h1>
  <p class="lead text-center">Can't find the page you wanted&hellip; Woops.</p>

  <hr/>

  <h2>How about a post instead?</h2>

  {{ range where .Data.Pages "Section" "blog" | first 6 }}
  <article class="category-item">
     <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
    <span class="readtime">{{ .ReadingTime }} min read</span>
  </article>
  {{ end }}

</main> <!-- /#dope -->

{{ partial "footer.html" . }}
