{{ partial "header.html" . }}

<div id="dope" class="dope">

  <div class="home-intro container">
    <h1>{{ .Site.Params.subtitle }}</h1>
  </div>

  <section class="subscribe">
    <p class="subscribe-lead lead text-white text-center">Get the latest posts in your inbox:</p>
    <form action="https://wearegenki.us12.list-manage.com/subscribe/post?u=8afe444812590742963d35a0d&amp;id=2a2592cf7a" class="subscribe-form input-group mx-auto" method="post" target="_blank">
        <input type="email" class="form-control form-control-lg email" name="EMAIL" placeholder="Enter email">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-secondary btn-lg btn-email">Subscribe</button>
        </span>
    </form>
  </section>

  <div class="container">
    <div class="row">
      <section class="col">
        <h2 class="summary-h2">Latest Posts</h2>
        {{ range where .Data.Pages "Section" "blog" | first 10 }}
          {{ .Render "summary"}}
        {{ end }}
        <div class="all-posts">
          <a href="/blog.html">See all posts ›</a>
        </div>
      </section>
    </div>
  </div>

</div> <!-- /#dope -->

{{ partial "footer.html" . }}
