{{ partial "header.html" . }}

<div class="home-intro">
  <h1>{{ .Site.Title }}</h1>
  <h2>{{ .Site.Params.subtitle }}</h2>
</div>

<div class="container subscribe">
  <div class="row">
    <div class="col-xs-12">
      <form class="form-inline">
        <p>TODO: Write subscribe text; why subscribe?</p>
        <div class="form-group">
          <label for="exampleInputEmail2">Email</label>
          <input type="email" class="form-control" id="email" placeholder="jane.doe@example.com">
        </div>
        <button type="submit" class="btn btn-primary">Subscribe</button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <!-- TODO: Create homepage content: blog psot index OR navigation? -->
      <p>Test.</p>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
