{{ partial "header.html" . }}

<div id="dope">

  <div class="container">
    <div class="row">
      <section class="catagory col-xs-12">
        <h1>All Posts</h1>

        <ul class="pages">
          {{ range .Data.Pages }}
          <li><span><a href="{{ .Permalink }}">{{ .Title }}</a><time class="pull-xs-right">{{ .Date.Format "Mon, 2 Jan 2006" }}</h4></time></span></span></li>
          {{ end }}
        </ul>
      </section>
    </div>
  </div>

  <!-- TODO: Once there's enough posts, implement pagination -->

</div> <!-- /dope -->

{{ partial "footer.html" . }}
