<address class="author">
  <img src="/img/{{ .Params.author | urlize }}.jpg" alt="{{ .Params.author }}" class="img-author rounded-circle" /><br>
  {{ .Params.author }}<br>
  {{ if .Params.email }}
  <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a>
  {{ end }}
</address>

<time class="time" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "Mon, 2 Jan 2006" }}</time>

{{ if .Params.tags }}
<div class="tags">
{{ range .Params.tags }}
  <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}.html" class="badge badge-default">{{ . }}</a>
{{ end }}
</div>
{{ end }}
