:root {
  /* High performance shadows */
  --use-drop-shadow: true;

  /* Fluid font size */
  --use-font-size-fluid: true;
  --container-width-max: 60rem; /* recommended when using --use-font-size-fluid */
}
