<!doctype html>
{{ "<!--!\n\nMM    MM MM    MM\nMMM  MMM MMM  MMM\nMM MM MM MM MM MM\nMM    MM MM    MM\nMM    MM MM    MM\n\n © MaxMilton.com\n\n-->" | safeHTML }}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {{ if eq .URL "/" }}
  <!-- Unique metadata on homepage -->
  <title>{{ .Site.Title }} - {{ .Site.Params.subtitle }}</title>
  <meta name="description" content="{{ .Site.Params.description }}">
  {{ else }}
  <!-- Unique metadata on other pages -->
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta name="description" content="{{ .Description }}">
  {{ end }}

  <link href="/css/app.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{{ .Permalink }}" rel="canonical">
  <meta name="theme-color" content="{{ .Site.Params.themecolour }}">
  <link href="/rss.xml" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />
  <link href="apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Open Graph -->
  <!-- TODO: Check these meta tags are still best practice -->
  <!--
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="{{ if eq .URL "/" }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}"/>
  <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}"/>
  <meta property="og:site_name" content="{{ .Site.Title }} - {{ .Site.Params.description }}"/>
  <meta property="og:image" content="" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="" />
  <meta property="og:image:height" content="" />
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:locale" content="en_UK">
  <meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}"/>
  <meta property="article:modified_time" content="{{ .Date.Format "2006-01-02" }}"/>
  {{if .Keywords }}
  {{ range .Keywords }}<meta property="article:tag" content="{{ . }}">
  {{ end }}
  {{else if isset .Params "tags" }}
  {{ range .Params.tags }}<meta property="article:tag" content="{{ . }}">
  {{ end }}
  {{end}}
  -->

  <!-- Google Analytics -->
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{ .Site.GoogleAnalytics }}', 'auto');
    ga('require', 'autotrack');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <script async src='/js/autotrack.js'></script>

  <meta name="author" content="{{ .Site.Author.name }}">
  <meta name="robots" content="noodp">
</head>
<body>

<!-- Main Menu -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <nav class="nav nav-inline">
        <a href="{{ .Site.BaseURL }}" class="brand">{{ .Site.Title }}</a>
        {{ if .Site.BuildDrafts }}
        <a href="/drafts.html" class="nav-link drafts">Drafts</a>
        {{ end }}
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" class="nav-link{{ if $currentNode.IsMenuCurrent "main" . }} active{{ end }}{{ if .Pre }} {{ .Pre }}{{ end }}">{{ .Name }}</a>
        {{ end }}
      </nav>
    </div>
  </div> <!-- /.row -->
</div> <!-- /.container -->
