<!doctype html>
{{ "<!--!

MM    MM MM    MM
MMM  MMM MMM  MMM
MM MM MM MM MM MM
MM    MM MM    MM
MM    MM MM    MM

  MaxMilton.com

-->" | safeHTML }}
<html lang="en-UK">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {{ if eq .URL "/" }}
  <!-- Unique meta on homepage -->
  <title>{{ .Site.Title }} - {{ .Site.Params.subtitle }}</title>
  <meta name="description" content="{{ .Site.Params.description }}">
  {{ else }}
  <!-- Unique meta on other pages -->
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta name="description" content="{{ .Description }}">
  {{ end }}

  <link rel="stylesheet" href="/css/app.css">

  <link rel="canonical" href="{{ .Permalink }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="{{ .Site.Params.theme-colour }}">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <!-- Google Analytics -->
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-64694403-1', 'auto');
  ga('require', 'linkid');
  ga('require', 'autotrack');
  ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <script async src='/js/autotrack.js'></script>
</head>
<body>

<nav class="nav nav-inline">
  {{ $currentNode := . }}
  {{ range .Site.Menus.main }}
  ><a href="{{ .URL }}" class="nav-link{{ if $currentNode.IsMenuCurrent "main" . }} active{{ end }}"{{ if in .URL "http" }} target="_blank"{{ end }}>{{ .Name }}</a>
  {{ end }}
</nav>
