<!doctype html>
{{ "<!--!

MM    MM MM    MM
MMM  MMM MMM  MMM
MM MM MM MM MM MM
MM    MM MM    MM
MM    MM MM    MM

  MaxMilton.com

-->" | safeHTML }}
<html lang="en-AU">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title></title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="/css/app.css">

  <!-- Google Analytics -->
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-64694403-1', 'auto');
  ga('require', 'linkid');
  ga('require', 'autotrack');
  ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <script async src='js/autotrack.js'></script>
</head>
<body>

  <nav>
    <a class="" href="#">Home</a>
  </nav>

  <p>Hello world! This is HTML5 Boilerplate.</p>
