{
  "extends": [
    "eslint:recommended",
  ],

  "rules": {
    "no-console": 0, # Console is fine in Gulp, just don't use in site JS
    "no-multi-spaces": [1, {
      "exceptions": { "VariableDeclarator": true }
    }],
  },

  "env": {
    "es6"     : 1,
    "browser" : 1,
    "node"    : 1, # We're working with Gulp
    "jquery"  : 1,
  },
}
