{
  "extends": [
    "eslint:recommended",
    # "airbnb/base",
    # "angular",
  ],

  "rules": {
    "no-console": 0, # Console is fine with node
    "no-multi-spaces": [1, {
      "exceptions": { "VariableDeclarator": true }
    }],
    # "no-fallthrough": 0, # Meh, seams fine to me
  },

  "env": {
    # "es6"     : 1,
    "browser" : 1,
    "node"    : 1, # We're working with Gulp
    # "jquery"  : 1,
  },
}
